
*{
    padding: 0px;
    margin: 0px;
}

body{
    background: white;
    font-family: sans-serif;
}

.holder{
    display: flex;
}

.left{
    width: 50%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.right{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    width: 450px;
    height: 450px;
    border-radius: 400px;
    overflow: clip;
    border: 10px solid orangered;
}

.img>img{
    width: 450px;
    height: 450px;
}

#prof{
    font-size: 14px;
    font-weight: 600;
    color: blue;
}